@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,700;0,900;1,700;1,900&display=swap');
@font-face {
    font-family: "myDigitalFont";
    src: url(/fonts/DS2/digital-7.ttf);
    font-weight: bolder;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100%;
    height: 100vh;
    font-family: 'Roboto', sans-serif;
}

main{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #282828;
    gap: 20px;
    position: relative;
}

.appBody{
    display: flex;
    flex-direction: column;
    gap: 30px;
    position: relative;
}

.chooseType{
    position: absolute;
    top: 10px;
    right: 20px;

}

.clock{
    width: 310px;
    height: 310px;
    border-radius: 50%;
    border: 10px solid #222121;
    box-shadow: -4px -4px 10px rgba(67,67,67,0.5),
    inset 4px 4px 10px rgba(0,0,0,0.5),
    inset -4px -4px 10px rgba(67,67,67,0.5),
    4px 4px 10px rgba(0,0,0,0.3);
    position: relative;
}

.mainTimePoles{
    width: 290px;
    height: 290px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* background: royalblue; */
}

.mainTimePoles::after{
    height: 100%;
    width: 7px;
    content: "";
    background-color: var(--bgColor, royalblue);
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.mainTimePoles::before{
    width: 100%;
    height: 7px;
    content: "";
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    background-color: var(--bgColor, royalblue);
    transform: translate(-50%, -50%);
}

.pole{
    height: 100%;
    width: 5px;
    background: red;
    position: absolute;
    top: 50%;
    left: 50%;
}

.poleOne{
    transform: translate(-50%, -50%) rotate(30deg);
}

.poleTwo{
    transform: translate(-50%, -50%) rotate(60deg);
}

.poleThree{
    transform: translate(-50%, -50%) rotate(120deg);
}

.poleFour{
    transform: translate(-50%, -50%) rotate(150deg);
}

.clockCover{
    width: 265px;
    height: 265px;
    border-radius: 50%;
    z-index: 5;
    background: #222121;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(90deg);
}

.clockCover::after{
    position: absolute;
    content: "";
    width: 18px;
    height: 18px;
    border-radius: 50%;
    background: black;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 99;
}

.hand{
    width: 50%;
    position: absolute;
    height: 6px;
    background: aquamarine;
    right: 50%;
    top: 50%;
    transform: translate(0%, -50%);
    transform-origin: 100%;
}

.hourHand{
    width: 30%;
    height: 8px;
    background: plum;
    z-index: 10;
    right: 50%;
    top: 50%;
    z-index: 6;
    transition-timing-function: cubic-bezier(0.1, 2.7, 0.58, 1);
}

.minHand{
    width: 35%;
    height: 5px;
    background: yellowgreen;
    z-index: 10;
    right: 50%;
    top: 50%;
    z-index: 7;
    transition-timing-function: cubic-bezier(0.1, 2.7, 0.58, 1);
}

.secHand{
    width: 49%;
    height: 3px;
    background: orange;
    z-index: 10;
    right: 50%;
    top: 50%;
    z-index: 5;
    transition-timing-function: cubic-bezier(0.1, 2.7, 0.58, 1);
}






.digital{
    width: 315px;
    height: 135px;
    border: 7px solid #131212;
    box-shadow: -4px -4px 10px rgba(67,67,67,0.5),
    inset 4px 4px 10px rgba(0,0,0,0.5),
    inset -4px -4px 10px rgba(67,67,67,0.5),
    4px 4px 10px rgba(0,0,0,0.3);
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: 30px 1fr 60px;
    position: relative;
    display: none;
}

.digitalCont{
    display: flex;
    background: #272626;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    column-gap: 18px;
    box-shadow: 0px 0px 3px 4px rgba(41, 29, 29, 0.158) inset;
    font-size: 25px;
    font-family: "myDigitalFont", sans-serif;
    font-weight: 900;
    color: rgba(221, 39, 39, 0.904);
    border-left: 4px solid #131212;
    border-right: 4px solid #131212;
    position: relative;
}

.controls{
    width: 100%;
    position: absolute;
    bottom: 2px;
    right: 20px;
    display: flex;
    justify-content: flex-end;
    color: #131212;
}

.controls .settings{
    position: relative;
    width: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.fa-cog{
    color: #c0c0c0;
}

.cog1{
    font-size: 21px;
    position: relative;
    animation: wheeldrive 3s infinite normal;
}

.cog2{
    font-size: 15px;
    position: absolute;
    right: -13px;
    bottom: 0px;
    animation: wheeldrive 3s infinite normal;
}

.cog3{
    font-size: 15px;
    position: absolute;
    right: -9px;
    top: -8px;
    animation: wheeldrive 3s infinite backwards;
}

.meridian{
    background: #272626;
    padding-top: 20px;
    position: relative;
    font-size: 16px;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    font-family: "myDigitalFont", sans-serif;
}

.meridian::after{
    position: absolute;
    content: "";
    display: block;
    bottom: 30%;
    width: 100%;
    height: 4px;
    background: #131212;
}

.colorChanger{
    position: absolute;
    width: 15px;
    height: 15px;
    background: orangered;
    bottom: 10px;
    border-radius: 50%;
    cursor: pointer;
}

.meridian hr{
    width: 70%;
    background: grey;
}

.otherInfo{
    background: #272626;
    padding-top: 5px;
    font-size: 14px;
    width: 100%;
    height: 100%;
    padding-right: 2.5px;
    padding-left: 2.5px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    font-family: "myDigitalFont", sans-serif;
    color: rgba(221, 39, 39, 0.904);
}

.date{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.month,
.day{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.headMon{
    font-size: 10px;
}

.headDay{
    font-size: 10px;
}

.nowMon,
.nowDate, .nowDay, .tmp{
    font-size: 18px;
    font-weight: 900;
}

.currDay{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.temp{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}





@keyframes wheeldrive{
    100%{
        transform: rotate(360deg);
    }
}