@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,700;0,900;1,700;1,900&display=swap');
@font-face {
    font-family: "myDigitalFont";
    src: url(/fonts/DS2/digital-7.ttf);
    font-weight: bolder;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100%;
    height: 100vh;
    font-family: 'Roboto', sans-serif;
}

main{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #282828;
    gap: 20px;
    position: relative;
}

.appBody{
    display: flex;
    flex-direction: column;
    gap: 30px;
    position: relative;
}

.chooseType{
    position: absolute;
    top: 10px;
    right: 20px;

}

/* type one */
#type1{
    display: block;
}

.clock{
    width: 310px;
    height: 310px;
    border-radius: 50%;
    border: 10px solid #222121;
    box-shadow: -4px -4px 10px rgba(67,67,67,0.5),
    inset 4px 4px 10px rgba(0,0,0,0.5),
    inset -4px -4px 10px rgba(67,67,67,0.5),
    4px 4px 10px rgba(0,0,0,0.3);
    position: relative;
}

.mainTimePoles{
    width: 290px;
    height: 290px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* background: royalblue; */
}

.mainTimePoles::after{
    height: 100%;
    width: 7px;
    content: "";
    background-color: var(--bgColor, royalblue);
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.mainTimePoles::before{
    width: 100%;
    height: 7px;
    content: "";
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    background-color: var(--bgColor, royalblue);
    transform: translate(-50%, -50%);
}

.pole{
    height: 100%;
    width: 5px;
    background: red;
    position: absolute;
    top: 50%;
    left: 50%;
}

.poleOne{
    transform: translate(-50%, -50%) rotate(30deg);
}

.poleTwo{
    transform: translate(-50%, -50%) rotate(60deg);
}

.poleThree{
    transform: translate(-50%, -50%) rotate(120deg);
}

.poleFour{
    transform: translate(-50%, -50%) rotate(150deg);
}

.clockCover{
    width: 265px;
    height: 265px;
    border-radius: 50%;
    z-index: 5;
    background: #222121;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(90deg);
}

.clockCover::after{
    position: absolute;
    content: "";
    width: 18px;
    height: 18px;
    border-radius: 50%;
    background: rgb(134, 129, 129);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 99;
}

.hand{
    width: 50%;
    position: absolute;
    height: 6px;
    background: aquamarine;
    right: 50%;
    top: 50%;
    transform: translate(0%, -50%);
    transform-origin: 100%;
}

.hourHand{
    width: 30%;
    height: 8px;
    background: plum;
    z-index: 10;
    right: 50%;
    top: 50%;
    z-index: 6;
    transition-timing-function: cubic-bezier(0.1, 2.7, 0.58, 1);
}

.minHand{
    width: 35%;
    height: 5px;
    background: yellowgreen;
    z-index: 10;
    right: 50%;
    top: 50%;
    z-index: 7;
    transition-timing-function: cubic-bezier(0.1, 2.7, 0.58, 1);
}

.secHand{
    width: 49%;
    height: 3px;
    background: orange;
    z-index: 10;
    right: 50%;
    top: 50%;
    z-index: 5;
    transition-timing-function: cubic-bezier(0.1, 2.7, 0.58, 1);
}

/* type two */

.mainTimePoles2{
    width: 100%;
    height: 100%;
    background: wheat;
    border-radius: 50%;
    position: relative;
}

#type2{
    display: none;
}

.numz{
    display: block;
    font-size: 18px;
    color: tomato;
    z-index: 8;
}

.mainafter{
    position: absolute;
    width: 10px;
    height: 100%;
    /* background: #af87ce; */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    z-index: 11;
}

.mainbefore{
    position: absolute;
    width: 10px;
    height: 100%;
    /* background: #af87ce; */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(90deg);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    z-index: 11;
}

.num3,.num9{
    transform: rotate(-90deg);
}

.pole2{
    position: absolute;
    width: 10px;
    height: 100%;
    /* background: #af87ce; */
    top: 50%;
    left: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    z-index: 11;
}

.poleOneII{
    transform: translate(-50%, -50%) rotate(30deg);
}

.num1, .num7{
    transform: rotate(-30deg);
}

.poleTwoII{
    transform: translate(-50%, -50%) rotate(60deg);
}

.num2, .num8{
    transform: rotate(-60deg);
}

.poleThreeII{
    transform: translate(-50%, -50%) rotate(120deg);
}

.num4, .num10{
    transform: rotate(-120deg);
}

.poleFourII{
    transform: translate(-50%, -50%) rotate(150deg);
}

.num5, .num11{
    transform: rotate(-150deg);
}

.clockCoverII{
    width: 80%;
    height: 80%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(90deg);
    background: brown;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9;
}

.clockCoverII::before{
    width: 60%;
    height: 60%;
    background: goldenrod;
    position: absolute;
    content: "";
    display: block;
    border-radius: 50%;
}

.clockCoverII::after{
    content: "";
    display: block;
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: gray;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.handII{
    /* position: absolute; */
    width: 50%;
    position: absolute;
    height: 6px;
    background: aquamarine;
    right: 50%;
    top: 50%;
    transform: translate(0%, -50%);
    transform-origin: 100%;
}

.hourHandII{
    width: 29%;
    height: 9px;
    background: greenyellow;
}

.minHandII{
    width: 38%;
    height: 6px;
    background: olive;
}

.secHandII{
    width: 49%;
    height: 4px;
    background: #ea1a7f;
    /* transform: rotate(6deg); */
}

.otherPole2{
    width: 4px;
    height: 100%;
    background: darkmagenta;
    position: absolute;
    top: 50%;
    left: 50%;
}

.flex2{
    transform: translate(-50%, -50%) rotate(6deg);
}

.flex3{
    transform: translate(-50%, -50%) rotate(12deg);
}

.flex4{
    transform: translate(-50%, -50%) rotate(18deg);
}

.flex5{
    transform: translate(-50%, -50%) rotate(24deg);
}

.flex6{
    transform: translate(-50%, -50%) rotate(36deg);
}

.flex7{
    transform: translate(-50%, -50%) rotate(42deg);
}

.flex8{
    transform: translate(-50%, -50%) rotate(48deg);
}

.flex9{
    transform: translate(-50%, -50%) rotate(54deg);
}

.flex10{
    transform: translate(-50%, -50%) rotate(66deg);
}

.flex11{
    transform: translate(-50%, -50%) rotate(72deg);
}

.flex12{
    transform: translate(-50%, -50%) rotate(78deg);
}

.flex13{
    transform: translate(-50%, -50%) rotate(84deg);
}

.flex14{
    transform: translate(-50%, -50%) rotate(96deg);
}

.flex15{
    transform: translate(-50%, -50%) rotate(102deg);
}

.flex16{
    transform: translate(-50%, -50%) rotate(108deg);
}

.flex17{
    transform: translate(-50%, -50%) rotate(114deg);
}

.flex18{
    transform: translate(-50%, -50%) rotate(126deg);
}

.flex19{
    transform: translate(-50%, -50%) rotate(132deg);
}

.flex20{
    transform: translate(-50%, -50%) rotate(138deg);
}

.flex21{
    transform: translate(-50%, -50%) rotate(144deg);
}

.flex22{
    transform: translate(-50%, -50%) rotate(156deg);
}

.flex23{
    transform: translate(-50%, -50%) rotate(162deg);
}

.flex24{
    transform: translate(-50%, -50%) rotate(168deg);
}

.flex25{
    transform: translate(-50%, -50%) rotate(174deg);
}


.finalCover{
    width: 90%;
    height: 90%;
    z-index: 5;
    background: wheat;
    position: absolute;
    border-radius: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
















/* digital */

.digital{
    width: 315px;
    height: 135px;
    border: 7px solid #131212;
    box-shadow: -4px -4px 10px rgba(67,67,67,0.5),
    inset 4px 4px 10px rgba(0,0,0,0.5),
    inset -4px -4px 10px rgba(67,67,67,0.5),
    4px 4px 10px rgba(0,0,0,0.3);
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: 30px 1fr 60px;
    position: relative;
    display: none;
}

.digitalCont{
    display: flex;
    background: #272626;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    column-gap: 18px;
    box-shadow: 0px 0px 3px 4px rgba(41, 29, 29, 0.158) inset;
    font-size: 25px;
    font-family: "myDigitalFont", sans-serif;
    font-weight: 900;
    color: #dd2727e7;
    border-left: 4px solid #131212;
    border-right: 4px solid #131212;
    position: relative;
}

.controls{
    width: 100%;
    position: absolute;
    bottom: 2px;
    right: 20px;
    display: flex;
    justify-content: flex-end;
    color: #131212;
}

.controls .settings{
    position: relative;
    width: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.fa-cog{
    color: #c0c0c0;
}

.cog1{
    font-size: 21px;
    position: relative;
    animation: wheeldrive 3s infinite normal;
}

.cog2{
    font-size: 15px;
    position: absolute;
    right: -13px;
    bottom: 0px;
    animation: wheeldrive 3s infinite normal;
}

.cog3{
    font-size: 15px;
    position: absolute;
    right: -9px;
    top: -8px;
    animation: wheeldrive 3s infinite backwards;
}

.meridian{
    background: #272626;
    padding-top: 20px;
    position: relative;
    font-size: 16px;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    font-family: "myDigitalFont", sans-serif;
}

.meridian::after{
    position: absolute;
    content: "";
    display: block;
    bottom: 30%;
    width: 100%;
    height: 4px;
    background: #131212;
}

.colorChanger{
    position: absolute;
    width: 15px;
    height: 15px;
    background: orangered;
    bottom: 10px;
    border-radius: 50%;
    cursor: pointer;
}

.meridian hr{
    width: 70%;
    background: grey;
}

.otherInfo{
    background: #272626;
    padding-top: 5px;
    font-size: 14px;
    width: 100%;
    height: 100%;
    padding-right: 2.5px;
    padding-left: 2.5px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    font-family: "myDigitalFont", sans-serif;
    color: #dd2727e7;
}

.date{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.month,
.day{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.headMon{
    font-size: 10px;
}

.headDay{
    font-size: 10px;
}

.nowMon,
.nowDate, .nowDay, .tmp{
    font-size: 18px;
    font-weight: 900;
}

.currDay{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.temp{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}





@keyframes wheeldrive{
    100%{
        transform: rotate(360deg);
    }
}



.digitalMenu{
    position: absolute;
    width: 100%;
    height: 100vh;
    background: #131212;
    z-index: 99;
    display: flex;
    justify-content: center;
    align-items: center;
}

.closeMenu, .closeAnlMenu{
    position: absolute;
    top: 20px;
    right: 50px;
    color: rosybrown;
    font-size: 18px;
    cursor: pointer;
}

.digitalMenu.open{
    display: flex;
}

.digitalMenu.close{
    display: none;
}

#menuCont{
    width: 300px;
    height: fit-content;
    background: #c0c0c0;
    padding: 40px 20px;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}

label[for="state"], label[for="color"]{
    display: flex;
    flex-direction: column;
    row-gap: 5px;
    font-family: "myDigitalFont";
    font-weight: 900;
}

.el{
    font-size: 20px;
}

#state{
    width: 100%;
    height: 23px;
    outline: none;
    border-radius: 11.5px;
    background: none;
    border: none;
    box-shadow: 0px 0px 2px 3.5px rgba(41, 29, 29, 0.158);
    padding-left: 15px;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 0.7px;
    font-family: "myDigitalFont";
}

.colors{
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.color{
    width: 30px;
    height: 30px;
    background: white;
    display: inline-block;
    border-radius: 50%;
    position: relative;
}

.color::after{
    content: "";
    display: block;
    position: absolute;
    width: 35px;
    height: 35px;
    border: 3px solid black;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    display: none;
}

.red{
    background: #dd2727e7;
}

.yellow{
    background: #fce603;
}

.green{
    background: #a8f387;
}

.plum{
    background: #ea1a7f;
}

.blue{
    background: #16d6fa;
}

.purp{
    background: #af87ce;
}

.color.active::after{
    display: block;
}

fieldset{
    padding: 10px 10px;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

legend{
    font-family: "myDigitalFont";
    font-weight: 900;
}

label[for="for24"], label[for="for12"]{
    display: flex;
    column-gap: 10px;
    font-family: "myDigitalFont";
    font-weight: 900;
}

#save{
    width: 50%;
    margin: 0 auto;
    height: 30px;
    font-size: 17px;
    font-weight: 700;
    letter-spacing: 0.8px;
    color: #222121;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    box-shadow: 0px 0px 2px 3.5px rgb(27, 27, 27, .5);
}










.analogueMenu{
    position: absolute;
    width: 100%;
    height: 100%;
    background: #131212;
    z-index: 99;
    display: flex;
    justify-content: center;
    align-items: center;
}

.analogueMenu.close{
    display: none;
}

.analogueMenu.open{
    display: flex;
}

.form{
    width: 300px;
    height: auto;
}

#analogueMenuCont{
    background: #c0c0c0;
    width: 100%;
    height: auto;
    padding: 30px 10px;
    display: flex;
    flex-direction: column;
}

.style1,
.style2{
    width: 100%;
    height: 280px;
}

.imageType{
    width: 90%;
    height: 230px;
    margin: 0 auto;
    margin-bottom: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.imageType.active{
    border: 3px solid #282828;
}

.imageType img{
    width: 95%;
    height: 95%;
}

.type1El{
    padding-left: 30px;
}

#saveBtn{
    width: 50%;
    height: 40px;
    margin: 0 auto;
    border-radius: 20px;
    border: none;
    outline: none;
    font-weight: 900;
    font-size: 17px;
    letter-spacing: .8px;
    box-shadow: 0px 0px 2px 3.5px rgb(34, 33, 33, .5);
    cursor: pointer;
}

.openAnelMenu{
    position: absolute;
    top: -30%;
    left: 0;
    font-size: 30px;
    color: silver;
    cursor: pointer;
}